<div class="tresc">
  <div class="row">
      <div class="col s12 m12 l12">
          <div class="podgl_ogl">
              <h1>Szukam programisty</h1>
              <p>
                Kim jesteśmy?
                Jesteśmy liderem rynku drogeryjnego. Nasze sklepy otwieramy w całej Polsce natomiast swoją centralę mamy w Łodzi. Wraz z rozwojem naszej sieci i otwieraniem co roku nowych stu kilkudziesięciu sklepów, rozbudowujemy poszczególne działy w centrali, aby jeszcze sprawniej realizować biznesowe założenia Rossmanna.

                Kogo szukamy?
                Poszukujemy kandydatów na stanowisko:
                SPECJALISTA DS. TRANSPORTU

                Miejsce pracy: Łódź

                Osoba pracująca na tym stanowisku będzie odpowiedzialna za:
                planowanie i optymalizację dostaw do sklepów Rossmann SDP
                ewidencję i kontrolę dokumentów transportowych,
                tworzenie harmonogramów wysyłek towaru
                Oczekiwania:
                wykształcenie wyższe, preferowane: logistyka, transport
                doświadczenie na podobnym stanowisku w branży dystrybucyjnej lub logistycznej,
                umiejętność  pracy pod presją czasu,
                znajomość obsługi programów Excel i Access na poziomie dobrym,
                znajomość topografii Polski,
                dokładność, odpowiedzialność i samodzielność,
                gotowość do pracy w systemie zmianowym.
                Wybranym kandydatom oferujemy:
                stabilna pracę,
                atrakcyjne warunki zatrudnienia,
                możliwość rozwoju zawodowego
                </p>
                <p><b>
                   Aby zaaplikować na stanowisko, prosimy o wypełnienie formularza dostępnego pod przyciskiem "Aplikuj".<br/><br/>
                   Wyrażam zgodę na przetwarzanie moich danych osobowych zawartych w mojej ofercie pracy dla potrzeb niezbędnych do realizacji procesu rekrutacji (zgodnie z Ustawą z dn. 29.08.97 o Ochronie danych Osobowych Dz. U. nr 133 poz. 883 z póżn. zm. )
                </b></p>
                <%= link_to raw("<i class='material-icons right'>send</i>Aplikuj") , :ogloszenie, method: :get, class: "btn waves-effect waves-light"%>
          </div>
      </div>
  </div>
</div>
